vocabulary/v3/latest/xml2rfcv3.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

rfc =
  element rfc {
    attribute number { text }?,
    [ a:defaultValue = "" ] attribute obsoletes { text }?,
    [ a:defaultValue = "" ] attribute updates { text }?,
    attribute category { "std" | "bcp" | "info" | "exp" | "historic" }?,
    attribute consensus { "no" | "yes" }?,
    attribute seriesNo { text }?,
    attribute ipr {
      "full2026"
      | "noDerivativeWorks2026"
      | "none"
      | "full3667"
      | "noModification3667"
      | "noDerivatives3667"
      | "full3978"
      | "noModification3978"
      | "noDerivatives3978"
      | "trust200811"
      | "noModificationTrust200811"
      | "noDerivativesTrust200811"
      | "trust200902"
      | "noModificationTrust200902"
      | "noDerivativesTrust200902"
      | "pre5378Trust200902"
    }?,
    attribute iprExtract { xsd:IDREF }?,
    [ a:defaultValue = "IETF" ]
    attribute submissionType {
      "IETF" | "IAB" | "IRTF" | "independent"
    }?,
    attribute docName { text }?,
    [ a:defaultValue = "en" ] attribute xml:lang { text }?,
    [ a:defaultValue = "no" ] attribute sortRefs { "yes" | "no" }?,
    [ a:defaultValue = "yes" ] attribute symRefs { "yes" | "no" }?,
    [ a:defaultValue = "yes" ] attribute tocInclude { "yes" | "no" }?,
    [ a:defaultValue = "3" ] attribute tocDepth { text }?,
    attribute autogeneratedBoilerplateText { text }?,
    link?,
    front,
    middle,
    back?
  }
link =
  element link {
    attribute href { text },
    attribute rel { text }?
  }
front =
  element front {
    title, author+, date?, area*, workgroup*, keyword*, abstract?, note*
  }
title =
  element title {
    attribute abbrev { text }?,
    attribute ascii { text }?,
    text
  }
author =
  element author {
    attribute initials { text }?,
    attribute surname { text }?,
    attribute fullname { text }?,
    attribute role { "editor" }?,
    [ a:defaultValue = "en" ] attribute xml:lang { text }?,
    attribute ascii { text }?,
    organization?,
    address?
  }
organization =
  element organization {
    attribute abbrev { text }?,
    attribute ascii { text }?,
    text
  }
address =
  element address { (postal | phone | facsimile | email | uri)* }
postal =
  element postal {
    [ a:defaultValue = "en" ] attribute xml:lang { text }?,
    ((street | city | region | code | country)* | postalLine+)
  }
street =
  element street {
    attribute ascii { text }?,
    text
  }
city =
  element city {
    attribute ascii { text }?,
    text
  }
region =
  element region {
    attribute ascii { text }?,
    text
  }
code =
  element code {
    attribute ascii { text }?,
    text
  }
country = element country { text }
postalLine =
  element postalLine {
    attribute ascii { text }?,
    text
  }
phone = element phone { text }
facsimile = element facsimile { text }
email =
  element email {
    attribute ascii { text }?,
    text
  }
uri = element uri { text }
date =
  element date {
    attribute day { text }?,
    attribute month { text }?,
    attribute year { text }?,
    empty
  }
area = element area { text }
workgroup = element workgroup { text }
keyword = element keyword { text }
abstract = element abstract { t+ }
note =
  element note {
    attribute title { text }?,
    name?,
    t+
  }
middle = element middle { section+ }
section =
  element section {
    attribute anchor { xsd:ID }?,
    attribute title { text }?,
    [ a:defaultValue = "yes" ] attribute numbered { "yes" | "no" }?,
    [ a:defaultValue = "default" ]
    attribute toc { "include" | "exclude" | "default" }?,
    [ a:defaultValue = "no" ] attribute removeInRFC { "yes" | "no" }?,
    attribute autogeneratedSectionNumber { text }?,
    name?,
    (t
     | aside
     | blockquote
     | figure
     | texttable
     | iref
     | artwork
     | sourcecode)*,
    section*
  }
name = element name { (text | xref | eref | iref | cref | tt)* }
t =
  element t {
    attribute anchor { xsd:ID }?,
    attribute hangText { text }?,
    attribute autogeneratedParagraphNumber { text }?,
    (text
     | \list
     | ol
     | ul
     | dl
     | figure
     | artwork
     | sourcecode
     | xref
     | eref
     | iref
     | cref
     | spanx
     | vspace
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
aside =
  element aside {
    (t | figure | texttable | iref | artwork | sourcecode)*
  }
blockquote =
  element blockquote {
    attribute anchor { xsd:ID }?,
    attribute cite { text },
    (text
     | figure
     | artwork
     | sourcecode
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
\list =
  element list {
    [ a:defaultValue = "empty" ] attribute style { text }?,
    attribute hangIndent { text }?,
    attribute counter { text }?,
    t+
  }
ol =
  element ol {
    [ a:defaultValue = "1" ] attribute style { text }?,
    [ a:defaultValue = "1" ] attribute start { text }?,
    attribute group { text }?,
    [ a:defaultValue = "normal" ]
    attribute spacing { "normal" | "compact" }?,
    li+
  }
ul =
  element ul {
    [ a:defaultValue = "normal" ]
    attribute spacing { "normal" | "compact" }?,
    [ a:defaultValue = "false" ] attribute empty { "false" | "true" }?,
    li+
  }
li =
  element li {
    t+
    | (text,
       ol,
       ul,
       dl,
       figure,
       artwork,
       sourcecode,
       xref,
       eref,
       iref,
       cref,
       tt,
       strong,
       b,
       em,
       i,
       sub,
       sup,
       bcp14)+
  }
dl =
  element dl {
    [ a:defaultValue = "normal" ]
    attribute spacing { "normal" | "compact" }?,
    [ a:defaultValue = "false" ]
    attribute hanging { "false" | "true" }?,
    (dt, dd)+
  }
dt =
  element dt {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
dd =
  element dd {
    t+
    | (text
       | ol
       | ul
       | dl
       | figure
       | artwork
       | sourcecode
       | xref
       | eref
       | iref
       | cref
       | tt
       | strong
       | b
       | em
       | i
       | sub
       | sup
       | bcp14)+
  }
xref =
  element xref {
    attribute target { xsd:IDREF },
    [ a:defaultValue = "false" ] attribute pageno { "true" | "false" }?,
    [ a:defaultValue = "default" ]
    attribute format { "counter" | "title" | "none" | "default" }?,
    (attribute section { text },
     attribute relative { text }?,
     attribute sectionFormat { text }?)?,
    text
  }
eref =
  element eref {
    attribute target { text },
    text
  }
iref =
  element iref {
    attribute item { text },
    [ a:defaultValue = "" ] attribute subitem { text }?,
    [ a:defaultValue = "false" ]
    attribute primary { "true" | "false" }?,
    empty
  }
cref =
  element cref {
    attribute anchor { xsd:ID }?,
    attribute source { text }?,
    (text | xref | eref | tt | strong | b | em | i | sub | sup)*
  }
tt =
  element tt {
    (text
     | xref
     | eref
     | iref
     | cref
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
b =
  element b {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
strong =
  element strong {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
i =
  element i {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | strong
     | b
     | sub
     | sup
     | bcp14)*
  }
em =
  element em {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | strong
     | b
     | sub
     | sup
     | bcp14)*
  }
sub =
  element sub {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | strong
     | b
     | em
     | i
     | bcp14)*
  }
sup =
  element sup {
    (text
     | xref
     | eref
     | iref
     | cref
     | tt
     | strong
     | b
     | em
     | i
     | bcp14)*
  }
spanx =
  element spanx {
    [ a:defaultValue = "preserve" ]
    attribute xml:space { "default" | "preserve" }?,
    [ a:defaultValue = "emph" ] attribute style { text }?,
    text
  }
vspace =
  element vspace {
    [ a:defaultValue = "0" ] attribute blankLines { text }?,
    empty
  }
figure =
  element figure {
    attribute anchor { xsd:ID }?,
    [ a:defaultValue = "" ] attribute title { text }?,
    [ a:defaultValue = "false" ]
    attribute suppress-title { "true" | "false" }?,
    attribute src { text }?,
    [ a:defaultValue = "left" ]
    attribute align { "left" | "center" | "right" }?,
    [ a:defaultValue = "" ] attribute alt { text }?,
    [ a:defaultValue = "" ] attribute width { text }?,
    [ a:defaultValue = "" ] attribute height { text }?,
    attribute autogeneratedFigureNumber { text }?,
    name?,
    iref*,
    preamble?,
    (artwork | sourcecode)+,
    postamble?
  }
preamble =
  element preamble {
    (text
     | xref
     | eref
     | iref
     | cref
     | spanx
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
artwork =
  element artwork {
    attribute xml:space { text }?,
    [ a:defaultValue = "" ] attribute name { text }?,
    [ a:defaultValue = "" ] attribute type { text }?,
    attribute src { text }?,
    [ a:defaultValue = "left" ]
    attribute align { "left" | "center" | "right" }?,
    [ a:defaultValue = "" ] attribute alt { text }?,
    [ a:defaultValue = "" ] attribute width { text }?,
    [ a:defaultValue = "" ] attribute height { text }?,
    [ a:defaultValue = "en" ] attribute xml:lang { text }?,
    text*
  }
sourcecode =
  element sourcecode {
    [ a:defaultValue = "" ] attribute name { text }?,
    [ a:defaultValue = "" ] attribute type { text }?,
    text
  }
postamble =
  element postamble {
    (text
     | xref
     | eref
     | iref
     | cref
     | spanx
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
texttable =
  element texttable {
    attribute anchor { xsd:ID }?,
    [ a:defaultValue = "" ] attribute title { text }?,
    [ a:defaultValue = "false" ]
    attribute suppress-title { "true" | "false" }?,
    [ a:defaultValue = "center" ]
    attribute align { "left" | "center" | "right" }?,
    [ a:defaultValue = "full" ]
    attribute style { "all" | "none" | "headers" | "full" }?,
    attribute autogeneratedTableNumber { text }?,
    name?,
    preamble?,
    ttcol+,
    c*,
    postamble?
  }
ttcol =
  element ttcol {
    attribute width { text }?,
    [ a:defaultValue = "left" ]
    attribute align { "left" | "center" | "right" }?,
    (xref | eref | iref | cref | text)*
  }
c =
  element c {
    (text
     | xref
     | eref
     | iref
     | cref
     | spanx
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
bcp14 = element bcp14 { text }
back = element back { displayreference*, references*, section* }
displayreference =
  element displayreference {
    attribute from { text },
    attribute to { text }
  }
references =
  element references {
    [ a:defaultValue = "References" ] attribute title { text }?,
    reference+
  }
reference =
  element reference {
    attribute anchor { xsd:ID },
    attribute target { text }?,
    front,
    (seriesInfo | format | refcontent | annotation)*
  }
seriesInfo =
  element seriesInfo {
    attribute name { text },
    attribute value { text },
    attribute asciiname { text }?,
    attribute asciivalue { text }?,
    empty
  }
format =
  element format {
    attribute target { text }?,
    attribute type { text },
    attribute octets { text }?,
    empty
  }
annotation =
  element annotation {
    attribute ascii { text }?,
    (text
     | xref
     | eref
     | iref
     | cref
     | spanx
     | tt
     | strong
     | b
     | em
     | i
     | sub
     | sup
     | bcp14)*
  }
refcontent =
  element refcontent {
    attribute ascii { text }?,
    (text | tt | b | i | em | strong | sub | sup | bcp14)*
  }
start = rfc
